TOKEN=MTQ5NTgxMTU2ODUxNTAyMjg1OA.GnxgO7.OkyZtorxAH19MvbJycyYf9HQ8pu5vSmjzQyyPs
CLIENT_ID=1495811568515022858
GUILD_ID=1198388580750471300
GROUP_ID=
ROBLOSECURITY=
LOG_CHANNEL_ID=id_kanału_logów
VERIFICATION_CHANNEL_ID=id_kanału_weryfikacji
VERIFIED_ROLE_ID=id_roli_zweryfikowany
ADMIN_ROLE_ID=id_roli_admina
