TOKEN=twój_token_discorda
CLIENT_ID=id_aplikacji
GUILD_ID=id_serwera_discord
GROUP_ID=id_grupy_roblox
ROBLOSECURITY=twój_roblox_cookie
LOG_CHANNEL_ID=id_kanału_logów
VERIFICATION_CHANNEL_ID=id_kanału_weryfikacji
VERIFIED_ROLE_ID=id_roli_zweryfikowany
ADMIN_ROLE_ID=id_roli_admina
